# ~/.config/starship.toml

# Use custom format
format = """
[•[•[•](green)](yellow)](purple) $directory$git_branch$git_status$package$golang
[>>>](bold cyan) """

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10


[git_branch]
symbol = ""
style = "green"

[git_status]
ahead = ""
behind = ""

[battery]
charging_symbol = "⚡️"

[golang]
symbol = " "

[directory]
style = "blue"

